body {
    margin:0;
    font-family:'Lucida Grande';
}
a {
    text-decoration: none;
}
.container {
    width:1170px;
    padding:0 15px;
    margin: 0 auto;
    
}
header {
    height:65px;
    width:100%;
    background-color: rgba(34,49,52,0.9);
    position:fixed;
    top:0;
    z-index:10;
}

.header-left{
    float:left;
}

.header-right{
    float:right;
    background-color: rgba(255,255,255,0.3);
    
}

.header-right:hover{
    background-color:rgba(255,255,255,0.5);
}

.header-right a{
    line-height:65px;
    padding: 0 25px;
    color:white;
    display:block;
    float:right;
}

.logo {
    width:125px;
    margin-top:10px;
    margin-bottom:20px;
}

.top-wrapper{
    padding:10px 0 200px 0;
    background-image:url(https://p1.pxfuel.com/preview/137/466/489/green-herbal-plant-leaves.jpg);
    background-size:cover;
    color:white;
    text-align:center;
}


.top-wrapper h1{
    opacity:0.7;
    font-size:45px;
    letter-spacing:5px;
    margin-bottom:15px;
}
.top-wrapper h2{
    opacity:0.7;
    font-size:90px;
    letter-spacing:15px;
    margin-bottom:70px;
}

.top-wrapper p{
    opacity:0.7;
    margin-bottom:3px;
}

.btn-wrapper {
    margin:20px 0;
}
.btn-wrapper p{
    margin:10px 0;
}

.btn {
    padding:12px 24px;
    color:white;
    display:inline-block;
    opacity:0.8;
    border-radius:4px;
}

.btn:hover{
    opacity: 1;
}

.lesson-wrapper{
    height:300px;
    padding-bottom:80px;
    background-color:#f7f7f7;
    text-align:center;
}

.heading{
    height:100px;
    padding-top:60px;
    padding-bottom:30px;
    color: #5f5d60;
    text-align:center;
    background-color:#f7f7f7;
   
}

.heading h2{
    font-weight:normal;
}
.lesson{
    float:left;
    width:25%;
}

.lesson-icon{
    position:relative;
    
}
.gambar{
width:200px;
height:200px;
border-radius:4px;
}

.lesson-icon p{
    position: absolute;
    top: 200px;
    width: 100%;
    color: rgb(85, 84, 84);
}

.txt-contents{
    width:80%;
    display:inline-block;
    margin-top:50px;
    font-size:15px;
    color: #b3aeb5;
    
}

.message-wrapper{
   border-bottom:1px solid #eee;
   padding-bottom:80px;
   text-align:center; 
}

.heading h3 {
    font-weight:normal;
}

.message {
    padding:15px 40px;
    background-color: #5dca88;
    cursor:pointer;
    box-shadow:0 7px #1a7940;
}

.message:active{
    position:relative;
    top:7px;
    box-shadow:none;
}

footer{   
    background-color: rgba(34,49,52,0.9);
    height:10px;
}

footer img {
    width:125px;
    float:left;
    line-height:40px;
}

footer p {
    color:#494849;
    font-size:12px;
    float:right;
    line-height:40px;
}